/* ===========================
   Reset Style 
   ===========================*/
/* ===========================
   Google Fonts 
===========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   color: black;
   font-size: 1rem;
   font-family: 'Poppins', sans-serif;
}
a{
   text-decoration: none;
}
ul{
   list-style: none;
}

.container{
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding-left: 60px;
   padding-right: 60px;
}
/* ===========================
   Main Section Style
=========================== */
/* ===========================
   Hero Section Style
=================================*/
#hero-section{
   background-color: #2D25A0;
   height: 677px;
}

.hero--content {
    display: flex;
    padding-top: 67px;
    align-items: center;
    justify-content: space-between;
}
.hero--heading{
   padding-right: 60px;
}
.section__title{
   font-size: 3.5rem;
   color: white;
}
.link__btn{
   display: inline-block;
   margin-top: 0.625rem;
   padding: 0 1.2rem;
   color: white;
   background: #E02C6D;
   font-size: 1rem;
   font-weight: 500;
   transition: all .2s;
   position: absolute;
}

.link__btn:hover {
   transform: translateX(-5px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.link__btn::after {
   content: "";
   display: inline-block;
   height: 100%;
   width: 100%;
   border-radius: 100px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transition: all .4s;
}

.link__btn:hover::after {
   transform: scaleX(1.4) scaleY(1.6);
   opacity: 0;
}

.btn-animated {
   animation: moveInBottom 5s ease-out;
   animation-fill-mode: backwards;
}

@keyframes moveInBottom {
   0% {
       opacity: 0;
       transform: translateY(30px);
   }

   100% {
       opacity: 1;
       transform: translateY(0px);
   }
}
.link__btn .fa-arrow-right{
   margin-left: 5px;
}
.hero--img img{
   width: 556px;
   height: 438px;
   transition: transform .3s;
}
.hero--img:hover img{
   transform: scale(1.1);
}
/* ===============================
   Responsive For Mobile Device 
===================================*/
@media screen and (max-width:480px) {
   .container{
      width: 100%;
      margin: 0 auto;
      padding: 0;
   }
   #hero-section {
      height: 100%;
      padding-bottom: 60px;
      width: fit-content;
  }
   .hero--content, .match--content{
      flex-direction: column;
      padding: 30px;
   }
   .section__title {
      font-size: 1.5rem;
  }
   .hero--img img{
      width: 100%;
      height: 100%;
      margin-top: 100px;
   }
   .player{
      flex-direction: column;
   }
   .player__img {
      width: 90%;
  }
   .lead{
      width: 90%;
   }
   #match-section, .match--content {
      padding-top: 1.25rem;
      margin: 0;
  }
   .match--content .match--img img {
      width: 95%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      height: 100%;
  }
  .match--heading .match__title {
      font-size: 1.9rem;
  }
  .partner{
   grid-template-columns: repeat(1, 1fr);
}
  .footer--content {
      margin-top: 1.25rem;
   }
  .footer--content .footer__logo img {
      width: 80%;
   }

}
/* ----------Tablets Device----------- */
@media screen and (max-width:960px) {
   .container{
      width: 100%;
   }
   .section__title {
      font-size: 2.25rem;
  }
   .hero--img img{
      width: 100%;
      height: 100%;
      margin-top: 100px;
   }
   .match--content .match--img img {
      width: 95%;
      margin-top: 5rem;
  }   

}
/* ------Laptops/Desktop Device---------- */
@media screen and (min-width:1024px) {
   .container{
      width: 100%;
   }
   #hero-section{
   }
   .section__title {
      font-size: 4rem;
  }
   .match--content .match--img img {
      width: 100%;
  }
  .hero--img img {
   width: 80%;
   height: 80%;
}
}
/* =======================
   Players Section Style
===========================*/
.player-section{
   margin-top: 70px;
}
.players{
   display: grid;
   /* grid-template-columns: repeat(3, 1fr); */
   grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
   row-gap: 27px;
   column-gap: 1.875rem;
}
.player{
   box-shadow: 0px 0px 40px 0px #00000026;
   padding: 15px 15px 33px 15px;
   display: flex;
   flex-wrap: wrap;
}
.player__img{
   width: 100%;
   height: 256px;
}
.player__name{
   color: #18191F;
   font-size: 28px;
   margin-top: 16px;
   margin-bottom: 10px;
}
.lead{
   color: #6C6C6C;
   font-size: 1rem;
   font-weight: 400;
}
/* ===========================
   Match Section Style
===========================*/
#match-section{
   margin: 120px 0;
}
.match--content {
    display: flex;
    padding-top: 67px;
    align-items: center;
    justify-content: space-between;
}
.match--heading{
   margin-right: 50px;
}
.match__title {
   font-size: 3.25rem;
   color: #0A0826;
   font-weight: 700;
   margin-bottom: 1.5rem;
}
.link__btn{
   display: inline-block;
   margin-top: 1rem;
   padding: 0.625rem 1rem;
   color: white;
   background: #E02C6D;
   font-size: 1rem;
   font-weight: 500;
}
.link__btn .fa-arrow-right{
   margin-left: 5px;
}
.match--img img{
   width: 556px;
   height: 438px;
}
/* Achieve Section Style */
.achieve-top h2{
   text-align: center;
   color: #10437A;
   margin-bottom: 2.25rem;
   font-size: 2rem;
}
.achieve{
   display: grid;
   /* grid-template-columns: repeat(3, 1fr); */
   grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
   grid-gap: 1.875rem;
}
.achieve__counter{
   height: 120px;
   box-shadow: 0px 0px 40px 0px #00000026;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.achieve__counter p{
   font-size: 0.75rem;
   font-weight: 700;
   padding: 0.25rem;
}
.achieve__icon{
   font-size: 2rem;
   color: #FDC52C;
}
.achieve__icon .fa-trophy{
   padding-right: 0.5rem;
   transition: transform .5s;
}
.achieve__counter:hover .fa-trophy{
   transform: scale(1.5);
}
.text__upper{
   text-transform: uppercase;
}
/* Partner Section Style */
.partner-top{
   margin-top: 7rem;
}
.partner-top h2{
   text-align: center;
   color: #10437A;
   margin-bottom: 2.25rem;
   font-size: 2rem;
}
.partner{
   display: grid;
   /* grid-template-columns: repeat(3, 1fr); */
   grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
   grid-gap: 1.875rem;
}
.partner__img{
   box-shadow: 0px 0px 40px 0px #00000026;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.partner__img:hover img{
   transform: scale(1.5);
}
.partner__img img{
   width: 70%;
   height: 70%;
   transition: transform .5s;
   /* transition: all .3s ease-in-out; */
}

/* ===========================
   Footer Section Style 
===========================*/
.footer--content{
   text-align: center;
   margin-top: 9.875rem;
}
.footer__logo img{
   width: 490px;
   height: 110px;
}
.footer--content p{
   font-size: 18px;
   font-weight: 400;
}
/* Social icon */
.footer__social p{
   color: #969BAB;
   margin: 1.25rem 0;
}
.footer__social .fa-instagram,
.footer__social .fa-dribbble,
.footer__social .fa-twitter,
.footer__social .fa-youtube{
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   background: #E7E7E8;
   line-height: 2rem;
   margin-right: 0.875rem;
   transition: all 0.3s ease;
}
.fa-instagram:hover{
   color: #f09433;
}
.fa-dribbble:hover{
   color: #ea4c89;
}
.fa-twitter:hover{
   color: #00acee;
}
.fa-youtube:hover{
   color: #FF0000;
}